---
# tasks file for vm_delete
- name: Deleting IBM i VM {{ vm_name }}
  os_server:
    state: absent
    cloud: "{{ cloud_name }}"
    name: "{{ vm_name }}"
  register: server_info

- name: Deleting IBM i VM {{ vm_name }}
  debug:
    var: server_info
